.top-container {
    background-color: aliceblue;
    position: relative;
    padding: 30px;
    margin: 0px;
}


body{
    background-color: aliceblue;
    margin: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
       
}

h1{
    font-size: 400%;
    margin: 15px;
    font-family: Dancing Script; 
}

.role{
    margin-top: 10px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 350px;
}

.bottom-cloud{
    position: absolute;
    top: 350px;
    left: 250px;
}

.mountain{
    position: relative;
    height:300px;
    width:300px;
    bottom: 59px;
    margin: 0px;
}

table{
    margin: 30px auto;
    line-height: 2;
    text-align: left;
}

.page-2{
    margin-top: 30px;
}

.profile{
    height:200px;
    width:200px;
    margin: 20px;
}

.skills-title{
    font-weight: bold;
}

.scroll-down-blue{
    position: absolute;
    bottom: 85px;
    right: 20px;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
